{% extends 'inc/layout.twig' %}
{% block main %}
    <div class="section col-800w">
        <h1 style="width: 50%;">{{ texts.index_txt_title }}</h1>
        <div class="form">
            <form id="search_form" method="POST" action="/result">
                <label class="form__row row">
                    <div class="col-sm-3">
                        <div class="input-label-big pink">{{ texts.index_txt_country }}</div>
                    </div>
                    <div class="col-sm-7 col-sm-offset-1">
                        <div class="select">
                            <select id="country_select" name="country_select">
                                {% for potential in potentials %}
                                    <option value="{{ potential }}">{{ potential }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </label>
                <input type="hidden" name="_token" value="{{ csrf_token }}">
                <label class="form__row row">
                    <div class="col-sm-3">
                        <div class="input-label-big pink">{{ texts.index_txt_your_site }}</div>
                    </div>
                    <div class="col-sm-7 col-sm-offset-1">
                        <input placeholder="type site" class="input"name="your_site" id="your_site" value="{{ selected }}" required>
                    </div>
                </label>
                <div class="row">
                    <div class="col-sm-7 col-sm-offset-4">
                        <div class="block">
                            <div class="light-header">Optional Fields<span style="font-size: 37px;vertical-align: bottom;line-height: 1;">:</span></div>
                        </div>
                    </div>
                </div>
                <label class="form__row row" style="margin-top: 0px;">
                    <div class="col-sm-3">
                        <div class="input-label-big pink">{{ texts.index_txt_comp_1 }}</div>
                    </div>
                    <div class="col-sm-7 col-sm-offset-1">
                        <input placeholder="type your competitor's site 1 http://site.com/" class="input" id="competitor_site_1" name="competitor_site_1">
                    </div>
                </label>
                <label class="form__row row">
                    <div class="col-sm-3">
                        <div class="input-label-big pink">{{ texts.index_txt_comp_1 }}</div>
                    </div>
                    <div class="col-sm-7 col-sm-offset-1">
                        <input placeholder="type your competitor's site 2 http://site.com/" class="input"  id="competitor_site_2" name="competitor_site_2">
                    </div>
                </label>
                <div class="form__row row">
                    <div class="col-sm-7 col-sm-offset-4">
                        <button class="btn btn_3d btn_pink pull-right btn_200w" id="search_button">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
