{% extends 'inc/layout.twig' %}
{% block main %}
    {% autoescape false %}
    <div class="section col-1000w">
        <h1>{{ texts.res_txt_title }}</h1>

        <div class="graph">
            <div class="graph__content" id="container"></div>
        </div>
    </div>
    <div class="section col-800w">
        <div class="row border-between">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="icon icon-bright section-icon"></div>
                <div class="header-text">{{ texts.res_txt_first_group_title }}</div>
            </div>
            <div class="col-sm-6 section__text">
                <div class="header-big pull-right">{{ channel_efficiency }}</div>
                <div class="header-text">{{ texts.res_txt_first_group_txt_1 }}</div>
                <p>{{ texts.res_txt_first_group_txt_2 }}</p>

                <div class="header-text pink">{{ texts.res_txt_first_group_txt_3 }}</div>
                <div class="btn btn_3d btn_pink"  onclick="location.href='#submit_form'; $('#bottom_form_name').focus();">Order free express analysis</div>
            </div>
        </div>
    </div>
    <div class="section col-800w">
        <div class="row border-between">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="icon icon-exclamation section-icon"></div>
                <div class="header-text">{{ texts.res_txt_second_group_title }}</div>
            </div>
            <div class="col-sm-6 section__text">
                <div class="header-big pull-right">{{ potential_calls }}</div>
                <div class="header-text">{{ texts.res_txt_second_group_txt_1 }}</div>
                <div class="header-text pink">{{ texts.res_txt_second_group_txt_2 }}</div>
                <div class="btn btn_3d btn_pink"  onclick="location.href='#submit_form'; $('#bottom_form_name').focus();">Order free express analysis</div>
            </div>
        </div>
    </div>
    {% if competitors_traffic_data %}
        <div class="section col-800w">
            <div class="row border-between">
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="icon icon-winner section-icon"></div>
                    <div class="header-text">{{ texts.res_txt_third_group_title }}</div>
                </div>
                <div class="col-sm-6 section__text">
                    {% for data in competitors_traffic_data %}
                        <div class="header-big pull-right {{ data.class }}">{{ data.traffic_diff }}<span class="percent">%</span></div>
                        <div class="header-text">Your competitor {{ data.site }}<br>gets<span class="{{ data.class }}"> {{ data.word }}</span> traffic than
                            you
                        </div>
                    {% endfor %}
                    <div class="header-text pink">{{ texts.res_txt_third_group_txt_1 }}</div>
                    <div class="btn btn_3d btn_pink" onclick="location.href='#submit_form'; $('#bottom_form_name').focus();">Order free express analysis</div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="section col-1000w">
        <div class="row">
            <div class="col-sm-6">
                <h1>{{ texts.res_txt_order }}</h1>
                <p>{{ texts.res_txt_order_txt_1 }}</p>
                <ul class="pink">
                    {{ texts.res_txt_order_li }}
                </ul>
                <p>{{ texts.res_txt_order_txt_2 }}</p>
            </div>
            <div class="col-sm-6 section__text">
                <br>
            <form id="form_order">
                <input type="hidden" name="_token" id="_token" value="{{ csrf_token }}">
                <div class="form" id="submit_form">
                    <label class="form__row">
                        <div class="input-label">Your website</div>
                        <input type="text" placeholder="https://" class="input" value="{{ website }}" name="website_name" id="website_name" required>
                    </label>
                    <label class="form__row">
                        <div class="input-label">Name</div>
                        <input type="text" placeholder="type your name" class="input" id="bottom_form_name" name="user_name" id="user_name" required>
                    </label>
                    <label class="form__row">
                        <div class="input-label">Email or phone</div>
                        <input type="text" placeholder="type your email of phone number" class="input" name="contact_info" id="contact_info" required>
                    </label>

                    <div class="form__row">
                        <button class="btn btn_3d btn_pink btn_200w pull-right">Order</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    {% endautoescape %}
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function(){
            makeGraph();
        });
    </script>
{% endblock %}